pypdf
python-dotenv
unstructured
sentence-transformers
streamlit
langchain
langchain_ollama
langchain_chroma
langchain-community
langchain-openai
chromadb
pypdf
python-dotenv
unstructured
sentence-transformers   